# Ekaguru Environment Variables

# NestJS Backend
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ekaguru"

# Gemini LLM (Get API key from https://aistudio.google.com/app/apikey)
GEMINI_API_KEY="AIzaSyAZDONP3Lx8rWfADYS_cJzds8EpvETmpUc"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3000"